### 1. Basic Data type 2.Adavanced data type
1.Basic data type
* int
* float
* string
* complex
* Boolean
2.Adavanced data type/ Data Structure
* string
* List
* Tuple
* Set
* Dictionary

### 1. Basic Data types
* int : If user gives integer value, then interprter will decide type of variable

In [21]:
a=10
print(a)

10

In [22]:
print(type(a))

<class 'int'>

In [23]:
id(1) #### Storage number or memory allocations

140722885764912

#### Python Data Types

### 1. String
* String is the collection of characters it enclosed with quotes.

In [2]:
str="This is manikanta from west godavari"
print(str)

This is manikanta from west godavari

* Each character in string having their own indexing.
* String support both indexing(Forward and backword).
* Forward indexing start from 0 and backword indexing start from -1.
* String allows the dublicate characters also.
* String support both indexing and slice.
* Indexing: featching as the specific character.
* Slicing: featching 0 or 1 0r more character by using the start and end index.

In [3]:
### This is called indexing
str[0]

'T'

In [4]:
### This is calles slice
str[2:4]

'is'

In [5]:
#### Doubleindexing
str[2::2]

'i smnknafo etgdvr'

#### Python string Functions

In [6]:
#### len: it is used to find the length of the given string.
len(str)

36

In [7]:
##### title: return title cased version of a string. Word start with upper case character and all remaing lower case character.
str.title()

'This Is Manikanta From West Godavari'

In [8]:
#### capitalize: It convert first word of the charater is upper case and reaming word lower case.
str.capitalize()

'This is manikanta from west godavari'

In [9]:
#### lower: It conver the enter string into lower case.
str.lower()

'this is manikanta from west godavari'

In [10]:
#### upper: it conver the enter string into uper case.
str.upper()

'THIS IS MANIKANTA FROM WEST GODAVARI'

In [11]:
#### islower: It check the given string is lower or not
str.islower()

False

In [12]:
#### isupper: It checking the given string is upper case or not
str.isupper()

False

In [13]:
#### Split: it will split the given word based on the delimeter.(Delimeter is the comma, space, character which is used in the split() to split in the given string)
str.split()

['This', 'is', 'manikanta', 'from', 'west', 'godavari']

In [15]:
#### Swapecase: it is used to swap the case thatmeans upper to lower in the word. upper to lower.
st="Hi this Is mani"
st.swapcase()

'hI THIS iS MANI'

In [16]:
#### Count: It is used to count the number of occurances of the specific character.
st.count('p')

0

In [19]:
st.count('i')

3

In [20]:
#### Replace: it is used to replace string from one to another.
stg="Manikanta manikumar"
stg.replace('manikumar','satish')

'Manikanta satish'

In [23]:
stg.replace('Manikanta','Harikrishna')

'Harikrishna manikumar'

In [24]:
### Display the given string asc order
s='manikanta'
sorted(s)

['a', 'a', 'a', 'i', 'k', 'm', 'n', 'n', 't']

In [25]:
' '.join(sorted(s))

'a a a i k m n n t'

In [26]:
','.join(sorted(s))

'a,a,a,i,k,m,n,n,t'

In [27]:
## Revers of the string
' '.join(reversed(s))

'a t n a k i n a m'

In [28]:
### del: to delete the particular given string.
del s

In [30]:
print(s)

NameError: name 's' is not defined

#### 2. List:A list can be defined as a collection of values or items of different types. The items in the list are separated with the comma (,) and enclosed with the square brackets [].Python lists are mutable type its mean we can modify its element after it created

In [31]:
list = [1,2,3,4,5,6,7]  
print(list[0])  
print(list[1])  
print(list[2])  
print(list[3])  
# Slicing the elements  
print(list[0:6])  
# By default the index value is 0 so its starts from the 0th element and go for index -1.  
print(list[:])  
print(list[2:5])  
print(list[1:6:2])

1
2
3
4
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[3, 4, 5]
[2, 4, 6]

In [32]:
list = [1,2,3,4,5]  
print(list[-1])  
print(list[-3:])  
print(list[:-1])  
print(list[-3:-1])

5
[3, 4, 5]
[1, 2, 3, 4]
[3, 4]

#### Updating List values
Lists are the most versatile data structures in Python since they are mutable, and their values can be updated by using the slice and assignment operator.

Python also provides append() and insert() methods, which can be used to add values to the list.

Consider the following example to update the values inside the list.

In [33]:
list = [1, 2, 3, 4, 5, 6]     
print(list)     
# It will assign value to the value to the second index   
list[2] = 10   
print(list)    
# Adding multiple-element   
list[1:3] = [89, 78]     
print(list)   
# It will add value at the end of the list  
list[-1] = 25  
print(list)

[1, 2, 3, 4, 5, 6]
[1, 2, 10, 4, 5, 6]
[1, 89, 78, 4, 5, 6]
[1, 89, 78, 4, 5, 25]

#### List Methods: 
* Append
* extend
* remove
* insert
* count 
* index.

In [46]:
### Appand: The element add the last of the list in element.
li=[1,2.2,'mani',True]
print(li)

[1, 2.2, 'mani', True]

In [47]:
li.append('satish')

In [48]:
print(li)

[1, 2.2, 'mani', True, 'satish']

In [49]:
print(type(li))

<class 'list'>

In [50]:
### Extended also add the elements in the last of the list
li.extend([1,2,3,4,'Mani'])
print(li)

[1, 2.2, 'mani', True, 'satish', 1, 2, 3, 4, 'Mani']

In [51]:
li

[1, 2.2, 'mani', True, 'satish', 1, 2, 3, 4, 'Mani']

In [55]:
#### Insert: in replace the values in to the particluar location
li.insert(3,False)
print(li)

[1, 2.2, 'mani', False, 'False', True, 'satish', 1, 2, 3, 4, 'Mani']

In [58]:
###3 Count: find the elemet in the list how many time it is there in that list
li.count(1)

3

In [60]:
### Length of the list
print(len(li))

12

In [61]:
### pop is the delete the index of the element
li.pop(2)
print(li)

[1, 2.2, False, 'False', True, 'satish', 1, 2, 3, 4, 'Mani']

#### 3.Python Tuple is used to store the sequence of immutable Python objects. The tuple is similar to lists since the value of the items stored in the list can be changed, whereas the tuple is immutable, and the value of the items stored in the tuple cannot be changed.

In [34]:
T1 = (101, "Peter", 22)    
T2 = ("Apple", "Banana", "Orange")     
T3 = 10,20,30,40,50  
  
print(type(T1))  
print(type(T2))  
print(type(T3))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [35]:
tup = (1,2,3,4,5,6,7)  
print(tup[0])  
print(tup[1])  
print(tup[2])

1
2
3

In [36]:
# It will give the IndexError  
print(tup[8])

IndexError: tuple index out of range

In [37]:
tuple = (1,2,3,4,5,6,7)  
#element 1 to end  
print(tuple[1:])  
#element 0 to 3 element   
print(tuple[:4])  
#element 1 to 4 element  
print(tuple[1:5])   
# element 0 to 6 and take step of 2  
print(tuple[0:6:2])

(2, 3, 4, 5, 6, 7)
(1, 2, 3, 4)
(2, 3, 4, 5)
(1, 3, 5)

In [38]:
tuple1 = (1, 2, 3, 4, 5)    
print(tuple1[-1])    
print(tuple1[-4])    
print(tuple1[-3:-1])  
print(tuple1[:-1])  
print(tuple1[-2:])

5
2
(3, 4)
(1, 2, 3, 4)
(4, 5)

#### Deleting Tuple
Unlike lists, the tuple items cannot be deleted by using the del keyword as tuples are immutable. To delete an entire tuple, we can use the del keyword with the tuple name.

In [39]:
tuple1 = (1, 2, 3, 4, 5, 6)    
print(tuple1)    
del tuple1[0]    
print(tuple1)    
del tuple1    
print(tuple1)

(1, 2, 3, 4, 5, 6)

TypeError: 'tuple' object doesn't support item deletion

#### Tuple operation:
* Membership
* Repetation
* Iteration
* Concatination

In [3]:
ma=()
print(ma)

()

In [4]:
print(type(ma))

<class 'tuple'>

In [5]:
m=(1,1.1,'qualitythought')
print(m[0])

1

In [6]:
#### Repetations : the tuple will multiple elements in the same 
print(m*2)

(1, 1.1, 'qualitythought', 1, 1.1, 'qualitythought')

In [8]:
#### Concatination : adding the elements in the tuple  
a=(1,2,3,4)
print(m+a)

(1, 1.1, 'qualitythought', 1, 2, 3, 4)

In [9]:
#### Membership: It is asking the element in the tuple or not
print(2 in a)

True

In [12]:
##### Iteration: looping of the element to display
for i in a:
    print(i)

1
2
3
4

##### Tuple functions:
* min
* max
* sum
* sorted

In [13]:
kir=(1,2,6,35,67,4,5,77,24)
print(kir)

(1, 2, 6, 35, 67, 4, 5, 77, 24)

In [14]:
#### It display the data type of the variable
print(type(kir))

<class 'tuple'>

In [17]:
#### it display the varible to which element is min in the tuple 
print(min(kir))

1

In [18]:
##### #### it display the varible to which element is max in the tuple 
print(max(kir))

77

In [19]:
### sum mena the all the elements will add and display the value
print(sum(kir))

221

In [20]:
### sorted means they will put in order way in the elements
print(sorted(kir))

[1, 2, 4, 5, 6, 24, 35, 67, 77]

#### 4.Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

**Unordered**
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

**Unchangeable**
Set items are unchangeable, meaning that we cannot change the items after the set has been created.

**Duplicates** Not Allowed
Sets cannot have two items with the same value.

In [1]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'cherry', 'apple'}

In [3]:
print(type(thisset))

<class 'set'>

#### Set Methods
* add()
* clear()
* copy()
* difference()
* remove()
* intersetion()
* disjoint()
* union()
* issubset()
* update()
* pop()
* discard()

In [6]:
### add(): Adds an element to the set
s={1,2,3.4,'mani'}
s.add(4)
print(s)

{1, 2, 3.4, 4, 'mani'}

In [9]:
s={1,2,3,'manikanta'}
s.add('vasu')
print(s)

{1, 2, 3, 'manikanta', 'vasu'}

In [10]:
### Update(): Update the set with the union of this set and others
x = {"apple", "mango", "sweety"}
y = {"apple",1,2,3,4}

x.update(y) 

print(x)

{1, 2, 3, 4, 'sweety', 'apple', 'mango'}

In [11]:
#### Remove():Removes the specified element
k = {"apple", "banana", "cherry",1,2,3,4}

k.remove("banana") 

print(k)

{1, 2, 'cherry', 3, 4, 'apple'}

In [12]:
#### copy():Returns a copy of the set
k = {"apple", "banana", "cherry",1,2,3,4}
x=k.copy()
print(x)

{1, 2, 'cherry', 3, 4, 'banana', 'apple'}

In [14]:
#### clear():Removes all the elements from the set
x={1,2,3,4,5,6,'manikanta',2.3}
x.clear()
print(x)

set()

In [17]:
#### discard():Remove the specified item
x={1,2,3,4,5,6,'manikanta',2.3}
x.discard(1)
print(x)

{2, 3, 4, 5, 6, 2.3, 'manikanta'}

In [18]:
x={1,2,3,4,5,6,'manikanta',2.3}
x.discard("manikanta")
print(x)

{1, 2, 3, 4, 5, 6, 2.3}

In [19]:
### pop(): method removes a random item from the set.
x={1,2,3,4,5,6,'manikanta',2.3}
x.pop()
print(x)

{2, 3, 4, 5, 6, 2.3, 'manikanta'}

In [20]:
x={3,4,5,6,'manikanta',2.3}
x.pop()
print(x)

{3, 4, 5, 6, 'manikanta'}

In [21]:
#### Union:Return a set containing the union of sets
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y) 

print(z)

{'banana', 'google', 'cherry', 'apple', 'microsoft'}

In [22]:
x = {"a", "b", "c"}
y = {"f", "d", "a"}
z = {"c", "d", "e"}

result = x.union(y, z)

print(result)

{'b', 'e', 'f', 'c', 'a', 'd'}

In [23]:
#### intersection():Returns a set, that is the intersection of two other sets

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y) 

print(z)

{'apple'}

In [24]:
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

result = x.intersection(y, z)

print(result)

{'c'}

In [25]:
### difference():Returns a set containing the difference between two or more sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y) 

print(z)

{'banana', 'cherry'}

In [26]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = y.difference(x) 

print(z)

{'google', 'microsoft'}

In [27]:
x = {"a", "b", "c"}
y = {"f", "d", "a"}
z = {"c", "d", "e"}

result = x.difference(y, z)

print(result)

{'b'}

In [28]:
### issubset(): Returns whether another set contains this set or not
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y) 

print(z)

True

In [31]:
x = {"a", "b", "c"}
y = {"f", "e", "d"}

z = x.issubset(y) 

print(z)

False

In [29]:
#### isdisjoint():Returns whether two sets have a intersection or not
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y) 

print(z)

True

In [30]:
x = {"apple", "banana", "cherry"}
y = {"google", "apple", "facebook"}

z = x.isdisjoint(y) 

print(z)

False

### Dictionary:
Dictionaries are used to store data values in key:value pairs.
A dictionary is a collection which is ordered*, changeable and does not allow duplicates.
Dictionaries are written with curly brackets, and have keys and values:

**Changeable**
Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.

**Duplicates Not Allowed**
Dictionaries cannot have two items with the same key:

**Ordered**
When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change.

In [33]:
a = {
  "k": "manikanta",
  "B": "Jagan",
  "year": 1964,
    "K":25.25
}
print(a)
print(type(a))

{'k': 'manikanta', 'B': 'Jagan', 'year': 1964, 'K': 25.25}
<class 'dict'>

#### Dictionary Methods:
* clear()
* copy()
* fromkeys()
* get()
* items()
* keys()
* pop()
* popitem()
* setdefault()
* update()
* values()

In [35]:
#### clear(): Removes all the elements from the dictionary
car ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.clear()

print(car)

{}

In [37]:
#### copy()	Returns a copy of the dictionary
k={"k":"maniknata",
  "year":1994,
  "phone":9849851886,
  "Address":"Katakoteswaram"}
x=k.copy()
print(x)

{'k': 'maniknata', 'year': 1994, 'phone': 9849851886, 'Address': 'Katakoteswaram'}

In [38]:
#### fromkeys():Returns a dictionary with the specified keys and value
x = ('key1', 'key2', 'key3')
y = 0

thisdict = dict.fromkeys(x, y)


print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}

In [39]:
x=('mani','kanta','srinu','pandu')
y=984
z=dict.fromkeys(x,y)
print(z)

{'mani': 984, 'kanta': 984, 'srinu': 984, 'pandu': 984}

In [40]:
#### get():Returns the value of the specified key
k={"k":"maniknata",
  "year":1994,
  "phone":9849851886,
  "Address":"Katakoteswaram"}
x=k.get("phone")
print(x)

9849851886

In [41]:
k.get("k")

'maniknata'

In [43]:
#### items():Returns a list containing a tuple for each key value pair
k={"k":"maniknata",
  "year":1994,
  "phone":9849851886,
  "Address":"Katakoteswaram"}
x=k.items()
print(x)

dict_items([('k', 'maniknata'), ('year', 1994), ('phone', 9849851886), ('Address', 'Katakoteswaram')])

In [44]:
#### keys():Returns a list containing the dictionary's keys
k={"k":"maniknata",
  "year":1994,
  "phone":9849851886,
  "Address":"Katakoteswaram"}
x=k.keys()
print(x)

dict_keys(['k', 'year', 'phone', 'Address'])

In [46]:
#### pop():Removes the element with the specified key
k={"k":"maniknata",
  "year":1994,
  "phone":9849851886,
  "Address":"Katakoteswaram"}
k.pop('year')
print(k)

{'k': 'maniknata', 'phone': 9849851886, 'Address': 'Katakoteswaram'}

In [47]:
#### popitem():Removes the last inserted key-value pair
k={"k":"maniknata",
  "year":1994,
  "phone":9849851886,
  "Address":"Katakoteswaram"}
k.popitem()
print(k)

{'k': 'maniknata', 'year': 1994, 'phone': 9849851886}

In [48]:
k={"k":"maniknata",
  "year":1994,
  "phone":9849851886,
  "Address":"Katakoteswaram"}
k.popitem()
print(k)

{'k': 'maniknata', 'year': 1994, 'phone': 9849851886}

In [54]:
### update():Updates the dictionary with the specified key-value pairs
k={"k":"maniknata",
  "year":1994,
  "phone":9849851886,
  "Address":"Katakoteswaram"}
k.update({"qualification":"M.Tech"})
print(k)

{'k': 'maniknata', 'year': 1994, 'phone': 9849851886, 'Address': 'Katakoteswaram', 'qualification': 'M.Tech'}

In [55]:
k={"k":"maniknata",
  "year":1994,
  "phone":9849851886,
  "Address":"Katakoteswaram"}
k.update({"job":"cloud data engineer"})
print(k)

{'k': 'maniknata', 'year': 1994, 'phone': 9849851886, 'Address': 'Katakoteswaram', 'job': 'cloud data engineer'}

In [57]:
#### values():Returns a list of all the values in the dictionary
k={"k":"maniknata",
  "year":1994,
  "phone":9849851886,
  "Address":"Katakoteswaram"}
x=k.values()
print(x)

dict_values(['maniknata', 1994, 9849851886, 'Katakoteswaram'])